<div class="title">{{title}}</div>
{{ui-block/form/checkmark checked=(get changeset property) update=(action 'update') class='checkmark'}}
{{ui-block/form/row/-errors changeset=changeset property=property show=updated}}
