<div class="title">{{title}}</div>
{{one-way-input (get changeset property) update=(action 'update') placeholder=placeholder}}
{{ui-block/form/row/-errors changeset=changeset property=property show=updated}}
