{{#each groups as |group|}}
  <div class="group">
    <div class="name" {{action showGroup group}}>{{group.name}}</div>
    {{ui-block/projects
        projects=group.projects
        select=(action showProject)
        updateWatch=(action updateProjectWatch)
        sync=(action syncProject)
    }}
  </div>
{{else}}
  <div class="placeholder">No projects added yet</div>
{{/each}}
