{{#each projects as |project|}}
  {{ui-block/projects/project
      project=project
      class='project'
      select=(action select project)
  }}
{{else}}
  <div class="placeholder">No projects added</div>
{{/each}}
