{{#each projects as |project|}}
  {{ui-block/projects/project
      project=project
      class='project'
      select=(action select project)
      updateWatch=(action updateWatch project)
      sync=(action sync project)
  }}
{{else}}
  <div class="placeholder">No projects added</div>
{{/each}}
