<div class="content">
  <div class="name">{{project.name}}</div>
  <div class="status">Syncing…</div>
</div>
<div class="accessory">
  {{ui-block/form/checkmark checked=project.watch update=(action updateWatch)}}
</div>
